authorized_key.json
terraform.tfstate.backup
cloud-init.yml
.terraform/
.terraform.lock.hcl
terraform.tfstate
hosts.ini
ansible/ansible_collections/*
ansible/galaxyproject.postgresql/*
ansible/galaxyproject.postgresql_objects/*
ansible/playbook/group_vars/*
ansible.cfg
hosts
elk3.yml