PidFile=/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix-agent/zabbix_agentd.log
LogFileSize=0
Server=127.0.0.1,{{ zabbix_server_net }}
ServerActive=127.0.0.1,{{ zabbix_server_net }}
Hostname={{ zabbix_agent_hostname }}
Include=/etc/zabbix/zabbix_agentd.conf.d/*.conf